body{
	background:#fff;
	font-family: 'Ubuntu', sans-serif;
}
a{
	transition:all 0.5s;
	color:#00325A;
	outline:none !important;
}
button:focus{
		outline:none !important;
}
a:hover, a:focus{
	opacity:1;
	transition:all 0.5s;
	text-decoration:none;
	color:#fff;
}
ul, li{
	margin:0;
	padding:0;
	list-style:none;
}
h1{
	color:#00325A;
	padding-bottom:10px;
	font-size: 36px;
	font-weight:300;
	margin-top:0;
	margin-bottom:40px;
}
h2{
	color:#00325A;
	font-size: 56px;
	font-weight:bold;
}
.primary-button{
	background: #00325A;
	border:1px #00325A solid;
    font-weight: 300;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    color: #fff;
	float:right;
	margin-top:15px;
}
.primary-button:hover{
	background: #fff;
	border:1px #00325A solid;
	color:#00325A;
}
h3{
	font-size:24px;
	font-weight:normal;
}
p{
	font-size:20px;
}
.container-fluid{
	padding:0 4.6875rem
}
.btn-default {
    color: #fff;
    background-color: #003259;
    border-radius:0;
    font-size:14px;
    font-weight: 300;
    padding:10px 15px;
}

.btn-default:hover, .btn-default:focus {
    color: #fff;
	border-top: 3px solid #040933;
    background-color: #040933;
	opacity:1;
}
.top-bg{
	background:url(../images/top_bar.png);
	height:10px;
	width:100%;
}
.navbar-brand{
	height:auto;
	margin-right:50px;
}
.navbar-nav{
	float:left;
	font-weight:300;
	margin-top:7px;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li.active a{
		border-bottom:3px #003259 solid;
	background:none;

}
.navbar-nav.secondary{
	float:right;
	margin-top:7px;
}
.navbar-nav li a{
	text-align:center;
}
.navbar-nav li a .fa{
	font-size: 20px;
    margin-bottom: 5px;
}
.navbar-nav li a .fa.fa-angle-down{
	margin-left: 5px;
    top: 50%;
    position: absolute;
}
.navbar-nav li a .fa.fa-korneez{
	height: 15px;
    text-align: center;
    width: 100%;
}
.navbar-nav li a .fa.fa-korneez:before{
	content: "";
    background: url(../images/about_icon.png) center center;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
	
}
.navbar-nav > li > a{
	border-bottom:3px #fff solid;	
}
.nav > li > a:hover, .nav > li > a:focus{
	border-bottom:3px #003259 solid;
	background:none;
	color:#003259;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background:transparent;
}
.dropdown-menu > li > a{
	text-align:left;
}
.navbar-nav > li.active .dropdown-menu > li > a{
	border-bottom:1px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .fa{
	font-size:12px !important;
	float:right;
	margin-top:3px;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  border-radius:0;
}
.carousel-fade .carousel-control .fa {
    position: relative;
    top: 45%;
}
.owl-carousel{

}
.owl-carousel .item{
}
.owl-nav{
	position: absolute;
    top: 45%;
    width: 100%;
}
.owl-nav .fa{
	color:#fff;
	font-size:35px;
	text-shadow:1px 1px 1px #000;
}


.owl-carousel .owl-nav button.owl-next{
	float: right;
    margin-right: 30px;
}
.owl-carousel .owl-nav button.owl-prev{
	float: left;
    margin-left: 30px;
}
.owl-dots{
	display:none;
}
.products{
	text-align:center;
		padding:4.6875rem 0;	
}
.products h2{
	color:#00325A;
	padding-bottom:0;
	font-size: 36px;
	font-weight:300;
	margin-top:20;
	margin-bottom:20px;
}
.contact{
	text-align:left;
}

.products .product-image{
	overflow:hidden;
	display:block;
	position:relative;
	text-align:center;
	
}
.products span{
	text-align:center;
	display:block;
	font-size:24px;
	color:#003259;
	padding:20px 0;
}
.products .product-image.butter{
	background:#FF9742;
}
.products .product-image.caramel{
	background:#95CFE5;
}
.products .product-image.toffee{
		background:#F0A430;
}
.products .product-image.plain{
		background:#FFCB43;
}
.products .product-image.champ{
		background:#C2B528;
}

.products .product-image img{
}
.products .product-image img:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.products .shop-box{
	background: #fff;
    font-weight: 300;
    font-size: 16px;
    display: block;
    padding: 5px;
    border: 1px #00325A solid;
}
.products .shop-box:hover{
	color:#003259
}

.ads{
		padding:4.6875rem 0;	
		border-top:1px #00325A solid;
}
.ads h2{
	color:#003259;
	font-size: 33px;
	font-weight:300;
}
.ads h3{
	color:#fff;
	background:#00325A;
	padding:20px;
	margin:0;
}
.animated{
		padding:4.6875rem 0;	
}
.animated .thumbborder{
	border: 1px #000 solid;
    position: relative;
    margin-top: -8px;
	width:60px;
}
.animated p{
	color:#00325A;
	font-size:36px;
}
footer{
	background:#003259;
	color:#fff;
	padding:4.6875rem 0;
}
footer h3{
	color:#fff;
	font-weight:300;
	font-size:32px;
}
footer .owl-carousel .item{
	font-size:16px;
}
.social{
	display:inline;
}
.social a{
	color:#fff;
}
.social .fab{
	margin-left:20px;
	font-size:24px;
}
footer ul{
	font-size:18px;
	float:left;
}
footer .footer-links{
		border-top:1px #fff solid;
		padding:20px;
}
footer .bd{
	border-left:1px #fff solid;
	border-right:1px #fff solid;
}
footer a{
	color:#fff;
}
.footer-bottom{
	font-size:12px;
	color:#fff;
	padding:25px 0;
	background:#333333;
}
.footer-bottom a{
		color:#fff;
}
.video_container{
	width:100%;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.product_info{
	text-align:left;
}
.product_info h1{
	margin:20px 0 10px 0;
}
.product_info ul{
	font-size:20px;
}
table{
	border-left:1px #e1e1e1 solid;
	border-top:1px #e1e1e1 solid;	
	font-size:16px;
}
table td{
	border-right:1px #e1e1e1 solid;
	border-bottom:1px #e1e1e1 solid;
	padding:5px;
}
.font20{
	font-size:20px;
	font-weight:300;
	background:#eee;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.modal-dialog {
	margin:70px auto;
 
}
.modal-content{
	border-radius:0;
	
}
.modal-body {
    position: relative;
    padding: 5px;
}
.modal .fa{
	font-size: 24px;
    color: #fff;
    position: absolute;
    right: 0;
    top: -30px;
	cursor:pointer;
}
.free{
	margin-top:31px;
}
@media (max-width: 768px){
	.navbar-brand {
		margin-right: 0px;
	}
	h2 {
    font-size: 36px;
	}
	.animated p {
		font-size: 24px;
	}
	.animated .thumbborder {


		width: 40px;
		display: inline;
	}
	.product_info p{
		margin-top:15px;
		font-size:24px;
	}
	.ads h3, .free {
		margin-top: 15px;
	}
	.owl-nav {
		top: 35%;
	}
	.owl1 .owl-nav {
		top: 32%;
	}
}
@media (max-width: 767px){
	.container-fluid {
    padding: 0 1.6875rem;
}
	.owl-nav {
    top: 32%;
	}
	
	.navbar-nav {
		margin: 7.5px 2px;
		width:100%;
	}
	.navbar-nav > li {
    float: left;
    width: 100%;
}
	footer ul {
		font-size: 18px;
		float: none;
		margin-left: 0;
	}
	.social{
		display:block;
	}
	footer .bd{
		border:none;
	}
	.animated img{
		display: block;
		max-width: 100%;
		height: auto;
	}
	
	.navbar-collapse{
		width:100%;
	}
	.navbar-toggle .fa-bars{
		font-size: 24px;
		margin: 10px 0 0 0;
	}
}